[project]
	description = Jenkins plugin for the OWASP dependency-check. This can be used to monitor the java libraries used in an application and report if there are any known vulnerabilities (e.g. CVEs).
[access "refs/*"]
	owner = group user/Luca Milanesio (lucamilanesio)
[access "refs/for/refs/*"]
	read = group user/Luca Milanesio (lucamilanesio)
	push = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group user/Luca Milanesio (lucamilanesio)
	label-Verified = -1..+1 group user/Luca Milanesio (lucamilanesio)
	rebase = group user/Luca Milanesio (lucamilanesio)
	removeReviewer = group user/Luca Milanesio (lucamilanesio)
	submit = group user/Luca Milanesio (lucamilanesio)
[access "refs/heads/*"]
	read = group user/Luca Milanesio (lucamilanesio)
	create = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
	pushMerge = group user/Luca Milanesio (lucamilanesio)
[access "refs/tags/*"]
	push = +force group user/Luca Milanesio (lucamilanesio)
	pushTag = group user/Luca Milanesio (lucamilanesio)
	pushSignedTag = group user/Luca Milanesio (lucamilanesio)
